
.to-do-app {
  box-sizing: border-box;
  width: 550px;
  margin: 40px auto;
  text-align: center;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 5px #252525;
}

.App {
  text-align: center;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

h1 {
  text-align: center;
  color: cadetblue;
  text-shadow: 0 2px 2px black;
  
}

.actions{
  text-align: right;
  align-items: right;
  
  }

  .editdel{
    float: right;
    text-align: right;
    padding-right: 5px;
    nav-right: auto; 
  }

/* .items-list {
  background:rgb(213, 185, 255);
  border-radius: 3px;
} */
.name {
  margin-left: 10px;
}
